body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #DDDDDD;
    shape-rendering: crispEdges;
}

path {
    fill: none;
    stroke-width: 1;
}

path.candle {
    stroke: #000000;
    stroke-width: 1;
}

path.candle.up {
    fill:#FF0000;
    stroke: #FF0000;
}

path.candle.down {
    fill:#00AA00;
    stroke: #00AA00;
}

.ma-0 path.line {
    stroke: #1f77b4;
}

.ma-1 path.line {
    stroke: #aec7e8;
}

path.volume {
    fill: #EEEEEE;
}

.cross{
    stroke: deepskyblue;
    stroke-width:3;
}

.crossarea{
    stroke:transparent;
    stroke-width:0;
    fill:transparent;
}

.crosshair {
    cursor: crosshair;
}

.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

.crosshair path.wire {
    stroke: deepskyblue;
    stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
    fill: #DDDDDD;
}
@keyframes longVoted {
    from{border:2px solid red;} 
    to{border:0px;}
}
@-webkit-keyframes longVoted {
    from{border:2px solid red;} 
    to{border:0px;}
}

@keyframes shortVoted {
    from{border:2px solid green;} 
    to{border:0px;}
}
@-webkit-keyframes shortVoted {
    from{border:2px solid green;} 
    to{border:0px;}
}

.long{
    -webkit-animation: longVoted 1s;
}
.short{
    -webkit-animation:  shortVoted 1s;
}


#candleStick{width:100%;height:250px;position:fixed;overflow-x:auto;margin: 0px 0px 0px 0px;left:0px;top:20px;}
#candleStickYaxis{width:35px;height:250px;position:fixed;float:left;}
body{-webkit-touch-callout:none;-webkit-user-select:none;width:100%;height:100%;-khtml-user-select:none;-moz-user-select:none;-ms-user-select: none;user-select: none;margin:0px;}
#crosssvg{width:20px;height:20px;stroke: cyan;position:absolute;left:80}
#crossSign{width:64px; height:64px;background-color:deepskyblue;}
#realtimeBidAsk{width:100%;height:40px;top:250px;position:fixed;border:0;cellspacing:0;cellpadding:0}
#Bid{width:50%;height:100%;background-color: deepskyblue;text-align: center;font-size: large;font-weight: bold;color:white;vertical-align: middle;}
#Ask{width:50%;height:100%;background-color: deepskyblue;text-align: center;font-size: large;font-weight: bold;color:white;vertical-align: middle;}
#realtimeBidAsk td{padding:0 0;}
#cpInfo{width:100%;height:20px;top:0px;position:fixed;border:0;border-bottom:1px solid lightgrey}
.cpInfoContainer{width:20%;height:100%;float:left;}
.vlInfoContainer{width:10%;height:100%;float:left;}
.InfoContainer{width:17.5%;height:100%;float:left;}
.description{width:30%;height:100%;float:left;text-align:center;font-size:110%;font-family:sans-serif;vertical-align:middle;padding-top:3px;}
.descriptionVL{width:50%;height:100%;float:left;text-align:center;font-size:110%;font-family:sans-serif;vertical-align:middle;padding-top:3px;}
#cp{width:70%;height:100%;float:left;text-align:left;font-size:120%;font-family:sans-serif;vertical-align:middle;padding-top:3px;}
#open{width:70%;height:100%;float:left;text-align:left;font-size:120%;font-family:sans-serif;vertical-align:middle;padding-top:3px;}
#high{width:70%;height:100%;float:left;text-align:left;font-size:120%;font-family:sans-serif;vertical-align:middle;padding-top:3px;}
#low{width:70%;height:100%;float:left;text-align:left;font-size:120%;font-family:sans-serif;vertical-align:middle;padding-top:3px;}
#close{width:70%;height:100%;float:left;text-align:left;font-size:120%;font-family:sans-serif;vertical-align:middle;padding-top:3px;}
#volume{width:50%;height:100%;float:left;text-align:left;font-size:120%;font-family:sans-serif;vertical-align:middle;padding-top:3px;}
#rbaHeader{width:100%;height:20px;top:230px;position:fixed;border:0;}
.rbaHeaderCell{width:50%;height:100%;float:left;text-align:center;font-size:120%;font-family:sans-serif;font-weight: bold;vertical-align:middle;padding-top:5px;}
#placeHolder{width:100%;height:10px;top:290px;}
#voting{width:100%;height:40px;top:300px;position:fixed;border:0;border-bottom: 1px solid lightgrey;}
.button{width:20%;height:100%;float:left;}
.progressBar{width:60%;height:100%;float:left;}
#longButton{position:relative;right:10px;width:32px;height:32px;background-image: url(/images/long.svg);background-color: transparent;border:0px;float: right;border:0px solid transparent;border-radius: 5px;}
#shortButton{position:relative;left:10px;width:32px;height:32px;background-image:url(/images/short.svg);background-color: transparent;border:0px;border:0px solid transparent;border-radius: 5px;}
#barFull{top:9px;width:100%;height:15px;position:relative;}
#longPart{background-color: red;width:50%;height:100%;float:left;text-align: center;vertical-align: middle;font-size: 130%;}
#shortPart{background-color: green;width:50%;height:100%;float:left;text-align: center;vertical-align: middle;font-size: 130%;}